* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.page-actions-cont {
    height: 3rem;
    background-color: #218c74;
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end;
    padding-left: 1rem;
}
.page-action {
    margin: 0.5rem;
    color: #f1f2f6;
    cursor: pointer;
}

.cellprop-actions-cont {
    height: 3rem;
    background-color: #f1f2f6;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.cellprop-actions-cont > * {
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
}
.cellprop-actions-cont > select {
    border: none;
    border-radius: 2px;
    outline: none;
}
.font-family-prop {
    padding: 0.2rem;
}
.font-size-prop {
    padding: 0.2rem;
}
.formula-actions-cont {
    height:  3rem;
    background-color: lightblue;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
.formula-actions-cont > input {
    border: none;
    outline: none;
    height: 50%;
}
.formula-icon {
    height: 1.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.address-bar {
    width: 7rem;
}
.formula-bar {
    width: calc(100vw - 7rem - 4rem);
    /* height: 50%; */
}
.sheet-actions-cont {
    height:  3rem;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1;
    background-color: #ecf0f1;
}
.sheet-actions-cont > *{
    display: inline-block;
    
}
.sheet-add-icon {
   width: 2vw;
}
.sheet-folder-cont {
    height: 80%;
    width: calc(100vw - 2vw);
    /* background-color: yellow; */
    display: flex;
    align-items: center;
}
.sheet-folder {
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px ;
    font-size: 1rem;
    margin-left: 0.5rem;
}
.grid-cont {
    height: calc(100vh - 3rem - 3rem - 3rem - 3rem);
    /* background-color: brown; */
    
}
